numpy
pandas
praw
requests
flask
django
transformers
torch
torchvision
torchaudio
scikit-learn
matplotlib
seaborn
nltk
spacy
tqdm
beautifulsoup4
lxml
scrapy
fastapi
uvicorn
jupyter
notebook
opencv-python
regex
Pillow
PyYAML
datasets
streamlit
